<p>htmlcourse works!</p>

<p
  style="
    margin: 0.5em 0px;
    color: rgb(32, 33, 34);
    font-family: sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-weight: 400;
    letter-spacing: normal;
    orphans: 2;
    text-align: start;
    text-indent: 0px;
    text-transform: none;
    white-space: normal;
    widows: 2;
    word-spacing: 0px;
    -webkit-text-stroke-width: 0px;
    background-color: rgb(255, 255, 255);
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
  "
>
  The&nbsp;<strong>HyperText Markup Language</strong>, or&nbsp;<strong
    >HTML</strong
  >
  is the standard&nbsp;<a
    href="https://en.wikipedia.org/wiki/Markup_language"
    style="text-decoration: none; color: rgb(6, 69, 173); background: none"
    title="Markup language"
    >markup language</a
  >
  for documents designed to be displayed in a&nbsp;<a
    href="https://en.wikipedia.org/wiki/Web_browser"
    style="text-decoration: none; color: rgb(6, 69, 173); background: none"
    title="Web browser"
    >web browser</a
  >. It can be assisted by technologies such as&nbsp;<a
    class="mw-redirect"
    href="https://en.wikipedia.org/wiki/Cascading_Style_Sheets"
    style="text-decoration: none; color: rgb(6, 69, 173); background: none"
    title="Cascading Style Sheets"
    >Cascading Style Sheets</a
  >
  (CSS) and&nbsp;<a
    href="https://en.wikipedia.org/wiki/Scripting_language"
    style="text-decoration: none; color: rgb(6, 69, 173); background: none"
    title="Scripting language"
    >scripting languages</a
  >
  such as&nbsp;<a
    href="https://en.wikipedia.org/wiki/JavaScript"
    style="text-decoration: none; color: rgb(6, 69, 173); background: none"
    title="JavaScript"
    >JavaScript</a
  >.
</p>
<p
  style="
    margin: 0.5em 0px;
    color: rgb(32, 33, 34);
    font-family: sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-weight: 400;
    letter-spacing: normal;
    orphans: 2;
    text-align: start;
    text-indent: 0px;
    text-transform: none;
    white-space: normal;
    widows: 2;
    word-spacing: 0px;
    -webkit-text-stroke-width: 0px;
    background-color: rgb(255, 255, 255);
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
  "
>
  <a
    href="https://en.wikipedia.org/wiki/Web_browser"
    style="text-decoration: none; color: rgb(6, 69, 173); background: none"
    title="Web browser"
    >Web browsers</a
  >
  receive HTML documents from a&nbsp;<a
    href="https://en.wikipedia.org/wiki/Web_server"
    style="text-decoration: none; color: rgb(6, 69, 173); background: none"
    title="Web server"
    >web server</a
  >
  or from local storage and&nbsp;<a
    href="https://en.wikipedia.org/wiki/Browser_engine"
    style="text-decoration: none; color: rgb(6, 69, 173); background: none"
    title="Browser engine"
    >render</a
  >
  the documents into multimedia web pages. HTML describes the structure of
  a&nbsp;<a
    href="https://en.wikipedia.org/wiki/Web_page"
    style="text-decoration: none; color: rgb(6, 69, 173); background: none"
    title="Web page"
    >web page</a
  >
  <a
    href="https://en.wikipedia.org/wiki/Semantic_Web"
    style="text-decoration: none; color: rgb(6, 69, 173); background: none"
    title="Semantic Web"
    >semantically</a
  >
  and originally included cues for the appearance of the document.
</p>
<p
  style="
    margin: 0.5em 0px;
    color: rgb(32, 33, 34);
    font-family: sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-weight: 400;
    letter-spacing: normal;
    orphans: 2;
    text-align: start;
    text-indent: 0px;
    text-transform: none;
    white-space: normal;
    widows: 2;
    word-spacing: 0px;
    -webkit-text-stroke-width: 0px;
    background-color: rgb(255, 255, 255);
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
  "
>
  <a
    href="https://en.wikipedia.org/wiki/HTML_element"
    style="text-decoration: none; color: rgb(6, 69, 173); background: none"
    title="HTML element"
    >HTML elements</a
  >
  are the building blocks of HTML pages. With HTML constructs,
  <a
    href="https://en.wikipedia.org/wiki/HTML_element#Images_and_objects"
    style="text-decoration: none; color: rgb(6, 69, 173); background: none"
    title="HTML element"
    >images</a
  >
  and other objects such as
  <a
    class="mw-redirect"
    href="https://en.wikipedia.org/wiki/Fieldset"
    style="text-decoration: none; color: rgb(6, 69, 173); background: none"
    title="Fieldset"
    >interactive forms</a
  >
  may be embedded into the rendered page. HTML provides a means to create
  <a
    href="https://en.wikipedia.org/wiki/Structured_document"
    style="text-decoration: none; color: rgb(6, 69, 173); background: none"
    title="Structured document"
    >structured documents</a
  >
  by denoting structural
  <a
    href="https://en.wikipedia.org/wiki/Semantics"
    style="text-decoration: none; color: rgb(6, 69, 173); background: none"
    title="Semantics"
    >semantics</a
  >
  for text such as headings, paragraphs, lists,
  <a
    href="https://en.wikipedia.org/wiki/Hyperlink"
    style="text-decoration: none; color: rgb(6, 69, 173); background: none"
    title="Hyperlink"
    >links</a
  >, quotes and other items. HTML elements are delineated by <em>tags</em>,
  written using
  <a
    href="https://en.wikipedia.org/wiki/Bracket#Angle_brackets"
    style="text-decoration: none; color: rgb(6, 69, 173); background: none"
    title="Bracket"
    >angle brackets</a
  >. Tags such as
  <code
    class="mw-highlight mw-highlight-lang-html mw-content-ltr"
    dir="ltr"
    style="
      font-family: monospace, monospace;
      background: rgb(248, 248, 248);
      color: rgb(0, 0, 0);
      border: 1px solid rgb(234, 236, 240);
      border-radius: 2px;
      padding: 1px 4px;
      unicode-bidi: embed;
      direction: ltr;
    "
    ><span class="p">&lt;</span
    ><span class="nt" style="color: rgb(0, 128, 0); font-weight: bold"
      >img</span
    >
    <span class="p">/&gt;</span></code
  >
  and
  <code
    class="mw-highlight mw-highlight-lang-html mw-content-ltr"
    dir="ltr"
    style="
      font-family: monospace, monospace;
      background: rgb(248, 248, 248);
      color: rgb(0, 0, 0);
      border: 1px solid rgb(234, 236, 240);
      border-radius: 2px;
      padding: 1px 4px;
      unicode-bidi: embed;
      direction: ltr;
    "
    ><span class="p">&lt;</span
    ><span class="nt" style="color: rgb(0, 128, 0); font-weight: bold"
      >input</span
    >
    <span class="p">/&gt;</span></code
  >
  directly introduce content into the page. Other tags such as
  <code
    class="mw-highlight mw-highlight-lang-html mw-content-ltr"
    dir="ltr"
    style="
      font-family: monospace, monospace;
      background: rgb(248, 248, 248);
      color: rgb(0, 0, 0);
      border: 1px solid rgb(234, 236, 240);
      border-radius: 2px;
      padding: 1px 4px;
      unicode-bidi: embed;
      direction: ltr;
    "
    ><span class="p">&lt;</span
    ><span class="nt" style="color: rgb(0, 128, 0); font-weight: bold">p</span
    ><span class="p">&gt;</span></code
  >
  surround and provide information about document text and may include other
  tags as sub-elements. Browsers do not display the HTML tags, but use them to
  interpret the content of the page.
</p>
<p
  style="
    margin: 0.5em 0px;
    color: rgb(32, 33, 34);
    font-family: sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-weight: 400;
    letter-spacing: normal;
    orphans: 2;
    text-align: start;
    text-indent: 0px;
    text-transform: none;
    white-space: normal;
    widows: 2;
    word-spacing: 0px;
    -webkit-text-stroke-width: 0px;
    background-color: rgb(255, 255, 255);
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
  "
>
  <br />
</p>
<p
  style="
    margin: 0.5em 0px;
    color: rgb(32, 33, 34);
    font-family: sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-weight: 400;
    letter-spacing: normal;
    orphans: 2;
    text-align: start;
    text-indent: 0px;
    text-transform: none;
    white-space: normal;
    widows: 2;
    word-spacing: 0px;
    -webkit-text-stroke-width: 0px;
    background-color: rgb(255, 255, 255);
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
  "
>
  HTML markup consists of several key components, including those
  called&nbsp;<em>tags</em> (and their&nbsp;<em>attributes</em>),
  character-based&nbsp;<em>data types</em>,&nbsp;<em>character references</em>
  and&nbsp;<em>entity references</em>. HTML tags most commonly come in pairs
  like&nbsp;<code
    class="mw-highlight mw-highlight-lang-html mw-content-ltr"
    dir="ltr"
    style="
      font-family: monospace, monospace;
      background: rgb(248, 248, 248);
      color: rgb(0, 0, 0);
      border: 1px solid rgb(234, 236, 240);
      border-radius: 2px;
      padding: 1px 4px;
      unicode-bidi: embed;
      direction: ltr;
    "
    ><span class="p">&lt;</span
    ><span class="nt" style="color: rgb(0, 128, 0); font-weight: bold">h1</span
    ><span class="p">&gt;</span></code
  >
  and&nbsp;<code
    class="mw-highlight mw-highlight-lang-html mw-content-ltr"
    dir="ltr"
    style="
      font-family: monospace, monospace;
      background: rgb(248, 248, 248);
      color: rgb(0, 0, 0);
      border: 1px solid rgb(234, 236, 240);
      border-radius: 2px;
      padding: 1px 4px;
      unicode-bidi: embed;
      direction: ltr;
    "
    ><span class="p">&lt;/</span
    ><span class="nt" style="color: rgb(0, 128, 0); font-weight: bold">h1</span
    ><span class="p">&gt;</span></code
  >, although some represent&nbsp;<em>empty elements</em> and so are unpaired,
  for example&nbsp;<code
    class="mw-highlight mw-highlight-lang-html mw-content-ltr"
    dir="ltr"
    style="
      font-family: monospace, monospace;
      background: rgb(248, 248, 248);
      color: rgb(0, 0, 0);
      border: 1px solid rgb(234, 236, 240);
      border-radius: 2px;
      padding: 1px 4px;
      unicode-bidi: embed;
      direction: ltr;
    "
    ><span class="p">&lt;</span
    ><span class="nt" style="color: rgb(0, 128, 0); font-weight: bold">img</span
    ><span class="p">&gt;</span></code
  >. The first tag in such a pair is the&nbsp;<em>start tag</em>, and the second
  is the&nbsp;<em>end tag</em> (they are also called&nbsp;<em>opening tags</em>
  and&nbsp;<em>closing tags</em>).
</p>
<p
  style="
    margin: 0.5em 0px;
    color: rgb(32, 33, 34);
    font-family: sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-weight: 400;
    letter-spacing: normal;
    orphans: 2;
    text-align: start;
    text-indent: 0px;
    text-transform: none;
    white-space: normal;
    widows: 2;
    word-spacing: 0px;
    -webkit-text-stroke-width: 0px;
    background-color: rgb(255, 255, 255);
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
  "
>
  Another important component is the HTML&nbsp;<em
    ><a
      href="https://en.wikipedia.org/wiki/Document_type_declaration"
      style="text-decoration: none; color: rgb(6, 69, 173); background: none"
      title="Document type declaration"
      >document type declaration</a
    ></em
  >, which triggers&nbsp;<a
    class="mw-redirect"
    href="https://en.wikipedia.org/wiki/Standards_mode"
    style="text-decoration: none; color: rgb(6, 69, 173); background: none"
    title="Standards mode"
    >standards mode</a
  >
  rendering.
</p>
<p
  style="
    margin: 0.5em 0px;
    color: rgb(32, 33, 34);
    font-family: sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-weight: 400;
    letter-spacing: normal;
    orphans: 2;
    text-align: start;
    text-indent: 0px;
    text-transform: none;
    white-space: normal;
    widows: 2;
    word-spacing: 0px;
    -webkit-text-stroke-width: 0px;
    background-color: rgb(255, 255, 255);
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
  "
>
  The following is an example of the classic&nbsp;<a
    href="https://en.wikipedia.org/wiki/%22Hello,_World!%22_program"
    style="text-decoration: none; color: rgb(6, 69, 173); background: none"
    title='"Hello, World!" program'
    >&quot;Hello, World!&quot; program</a
  >:
</p>
<div
  class="mw-highlight mw-highlight-lang-html mw-content-ltr"
  dir="ltr"
  style="
    background: rgb(255, 255, 255);
    unicode-bidi: embed;
    direction: ltr;
    color: rgb(32, 33, 34);
    font-family: sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-weight: 400;
    letter-spacing: normal;
    orphans: 2;
    text-align: start;
    text-indent: 0px;
    text-transform: none;
    white-space: normal;
    widows: 2;
    word-spacing: 0px;
    -webkit-text-stroke-width: 0px;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
  "
>
  <pre
    style="
      line-height: 1.3;
      font-family: monospace, monospace;
      background-color: rgb(248, 249, 250);
      color: rgb(0, 0, 0);
      border: 1px solid rgb(234, 236, 240);
      padding: 1em;
      white-space: pre-wrap;
      overflow-x: hidden;
      overflow-wrap: break-word;
      tab-size: 4;
      position: relative;
    "
  ><span class="cp" style="color: rgb(188, 122, 0);">&lt;!DOCTYPE html&gt;</span>
<span class="p">&lt;</span><span class="nt" style="color: rgb(0, 128, 0); font-weight: bold;">html</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt" style="color: rgb(0, 128, 0); font-weight: bold;">head</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt" style="color: rgb(0, 128, 0); font-weight: bold;">title</span><span class="p">&gt;</span>This is a title<span class="p">&lt;/</span><span class="nt" style="color: rgb(0, 128, 0); font-weight: bold;">title</span><span class="p">&gt;</span>
  <span class="p">&lt;/</span><span class="nt" style="color: rgb(0, 128, 0); font-weight: bold;">head</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt" style="color: rgb(0, 128, 0); font-weight: bold;">body</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt" style="color: rgb(0, 128, 0); font-weight: bold;">div</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt" style="color: rgb(0, 128, 0); font-weight: bold;">p</span><span class="p">&gt;</span>Hello world!<span class="p">&lt;/</span><span class="nt" style="color: rgb(0, 128, 0); font-weight: bold;">p</span><span class="p">&gt;</span>
    <span class="p">&lt;/</span><span class="nt" style="color: rgb(0, 128, 0); font-weight: bold;">div</span><span class="p">&gt;</span>
  <span class="p">&lt;/</span><span class="nt" style="color: rgb(0, 128, 0); font-weight: bold;">body</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt" style="color: rgb(0, 128, 0); font-weight: bold;">html</span><span class="p">&gt;</span></pre>
</div>
<p
  style="
    margin: 0.5em 0px;
    color: rgb(32, 33, 34);
    font-family: sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-weight: 400;
    letter-spacing: normal;
    orphans: 2;
    text-align: start;
    text-indent: 0px;
    text-transform: none;
    white-space: normal;
    widows: 2;
    word-spacing: 0px;
    -webkit-text-stroke-width: 0px;
    background-color: rgb(255, 255, 255);
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
  "
>
  The text between&nbsp;<code
    class="mw-highlight mw-highlight-lang-html mw-content-ltr"
    dir="ltr"
    style="
      font-family: monospace, monospace;
      background: rgb(248, 248, 248);
      color: rgb(0, 0, 0);
      border: 1px solid rgb(234, 236, 240);
      border-radius: 2px;
      padding: 1px 4px;
      unicode-bidi: embed;
      direction: ltr;
    "
    ><span class="p">&lt;</span
    ><span class="nt" style="color: rgb(0, 128, 0); font-weight: bold"
      >html</span
    ><span class="p">&gt;</span></code
  >
  and&nbsp;<code
    class="mw-highlight mw-highlight-lang-html mw-content-ltr"
    dir="ltr"
    style="
      font-family: monospace, monospace;
      background: rgb(248, 248, 248);
      color: rgb(0, 0, 0);
      border: 1px solid rgb(234, 236, 240);
      border-radius: 2px;
      padding: 1px 4px;
      unicode-bidi: embed;
      direction: ltr;
    "
    ><span class="p">&lt;/</span
    ><span class="nt" style="color: rgb(0, 128, 0); font-weight: bold"
      >html</span
    ><span class="p">&gt;</span></code
  >
  describes the web page, and the text between&nbsp;<code
    class="mw-highlight mw-highlight-lang-html mw-content-ltr"
    dir="ltr"
    style="
      font-family: monospace, monospace;
      background: rgb(248, 248, 248);
      color: rgb(0, 0, 0);
      border: 1px solid rgb(234, 236, 240);
      border-radius: 2px;
      padding: 1px 4px;
      unicode-bidi: embed;
      direction: ltr;
    "
    ><span class="p">&lt;</span
    ><span class="nt" style="color: rgb(0, 128, 0); font-weight: bold"
      >body</span
    ><span class="p">&gt;</span></code
  >
  and&nbsp;<code
    class="mw-highlight mw-highlight-lang-html mw-content-ltr"
    dir="ltr"
    style="
      font-family: monospace, monospace;
      background: rgb(248, 248, 248);
      color: rgb(0, 0, 0);
      border: 1px solid rgb(234, 236, 240);
      border-radius: 2px;
      padding: 1px 4px;
      unicode-bidi: embed;
      direction: ltr;
    "
    ><span class="p">&lt;/</span
    ><span class="nt" style="color: rgb(0, 128, 0); font-weight: bold"
      >body</span
    ><span class="p">&gt;</span></code
  >
  is the visible page content. The markup text&nbsp;<code
    class="mw-highlight mw-highlight-lang-html mw-content-ltr"
    dir="ltr"
    style="
      font-family: monospace, monospace;
      background: rgb(248, 248, 248);
      color: rgb(0, 0, 0);
      border: 1px solid rgb(234, 236, 240);
      border-radius: 2px;
      padding: 1px 4px;
      unicode-bidi: embed;
      direction: ltr;
    "
    ><span class="p">&lt;</span
    ><span class="nt" style="color: rgb(0, 128, 0); font-weight: bold"
      >title</span
    ><span class="p">&gt;</span>This is a title<span class="p">&lt;/</span
    ><span class="nt" style="color: rgb(0, 128, 0); font-weight: bold"
      >title</span
    ><span class="p">&gt;</span></code
  >
  defines the browser page title, and the tag&nbsp;<code
    class="mw-highlight mw-highlight-lang-html mw-content-ltr"
    dir="ltr"
    style="
      font-family: monospace, monospace;
      background: rgb(248, 248, 248);
      color: rgb(0, 0, 0);
      border: 1px solid rgb(234, 236, 240);
      border-radius: 2px;
      padding: 1px 4px;
      unicode-bidi: embed;
      direction: ltr;
    "
    ><span class="p">&lt;</span
    ><span class="nt" style="color: rgb(0, 128, 0); font-weight: bold">div</span
    ><span class="p">&gt;</span></code
  >
  defines a division of the page used for easy styling.
</p>
<p
  style="
    margin: 0.5em 0px;
    color: rgb(32, 33, 34);
    font-family: sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-weight: 400;
    letter-spacing: normal;
    orphans: 2;
    text-align: start;
    text-indent: 0px;
    text-transform: none;
    white-space: normal;
    widows: 2;
    word-spacing: 0px;
    -webkit-text-stroke-width: 0px;
    background-color: rgb(255, 255, 255);
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
  "
>
  The Document Type Declaration&nbsp;<code
    class="mw-highlight mw-highlight-lang-html mw-content-ltr"
    dir="ltr"
    style="
      font-family: monospace, monospace;
      background: rgb(248, 248, 248);
      color: rgb(0, 0, 0);
      border: 1px solid rgb(234, 236, 240);
      border-radius: 2px;
      padding: 1px 4px;
      unicode-bidi: embed;
      direction: ltr;
    "
    ><span class="cp" style="color: rgb(188, 122, 0)"
      >&lt;!DOCTYPE html&gt;</span
    ></code
  >
  is for HTML5. If a declaration is not included, various browsers will revert
  to &quot;<a
    href="https://en.wikipedia.org/wiki/Quirks_mode"
    style="text-decoration: none; color: rgb(6, 69, 173); background: none"
    title="Quirks mode"
    >quirks mode</a
  >&quot; for rendering.<sup
    class="reference"
    style="
      line-height: 1;
      unicode-bidi: isolate;
      white-space: nowrap;
      font-weight: normal;
      font-style: normal;
      font-size: 11.2px;
    "
    ><a
      href="https://en.wikipedia.org/wiki/HTML#cite_note-hsivonen-70"
      style="text-decoration: none; color: rgb(6, 69, 173); background: none"
      >[70]</a
    ></sup
  >
</p>
