<p>about works!</p>

<div style="margin-top: 20px"></div>
<div class="sideheading">
  <h1>CONNECT WITH US</h1>
  <p>
    Serving our clients, solving problems and enhancing human experiences
    motivate everything we do. If you're as passionate about the possibilities
    as we are, discover the best digital opportunities for your business.
  </p>
</div>

<div class="main">
  <h6>Contact Cognizant Careers.</h6>
  <p>
    If you are interested in an opportunity with Cognizant, please visit our
    Careers page or visit the Cognizant Careers FAQs.<br />
  </p>
  <h6>Follow us on Social Media.</h6>
  <p>Join the conversation on Facebook, LinkedIn or Twitter.</p>
  <br />
  <h6>Explore the Latest News.</h6>
  <p>
    Learn how Cognizant solves business problems, elevates experiences and
    supports a sustainable world.
  </p>
  <br />
  <h6>Find an office.</h6>
  <p>
    With office locations around the world, we combine global expertise with
    local insights to grow your business. Search our country locations below.
  </p>
</div>
